@model BikeServiceMenager.Models.BikeServiceViewModel
@{
    ViewData["Title"] = "Add Order Form";
}
<h1>Add Order Form</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>                 
                        <th>
                            Brand
                        </th>
                        <th>
                            Model
                        </th>
                        

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BikeList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BikeId)
                            </td>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model)
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>


        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add New Order</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Please fill the form</h6>
                    <form asp-action="AddOrder" autocomplete="off">
                        <div class="form-group">
                            <label for="name">Bike Id number</label>
                            <input type="text" class="form-control" name="bikeid" aria-describedby="emailHelp">

                        </div>
                        <div class="form-group">
                            <label for="surname">Service Action</label>
                            <select class="form-control" name="serviceactionid1" id="exampleFormControlSelect1">
                                <option value="1">tyre change</option>
                                <option value="2">brake regulation</option>
                                <option value="3">support change</option>
                                <option value="4">no_action</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="surname">Service Action</label>
                            <select class="form-control" name="serviceactionid2" id="exampleFormControlSelect1">
                                <option value="1">tyre change</option>
                                <option value="2">brake regulation</option>
                                <option value="3">support change</option>
                                <option value="4">no_action</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="surname">Service Action</label>
                            <select class="form-control" name="serviceactionid3" id="exampleFormControlSelect1">
                                <option value="1">tyre change</option>
                                <option value="2">brake regulation</option>
                                <option value="3">support change</option>
                                <option value="4">no_action</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="surname">Service Action</label>
                            <select class="form-control" name="serviceactionid4" id="exampleFormControlSelect1">
                                <option value="1">tyre change</option>
                                <option value="2">brake regulation</option>
                                <option value="3">support change</option>
                                <option value="4">no_action</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="surname">Service Action</label>
                            <select class="form-control" name="serviceactionid5" id="exampleFormControlSelect1">
                                <option value="1">tyre change</option>
                                <option value="2">brake regulation</option>
                                <option value="3">support change</option>
                                <option value="4">no_action</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="brand">Aditional Notes abuot order</label>

                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="additionalinfo"></textarea>
                        </div>



                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>