@model BikeServiceMenager.Models.BikeServiceViewModel
@{
    ViewData["Title"] = "BikeServiceHistory";
}

    <h1>Bike Service History</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <p>Here there will be BikeSeviceHistoryList.</p>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <a asp-action="Index">Back to Bikes List</a>
            </div>
        </div>
    </div>